<html>
<head>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
 </link>
</head> 
<body background ="untitled.jpg">

<table border = "0">
	<tr style = "color:white; background-color:black;"><td>
		<h4 style = "float: left; font-weight: bold; margin-left: 36px; font-size: 24pt; color:white;"> AutoAD </h4></td><td></td><td>
		</td>
	 </tr>
	 <tr height ="400px"><td width = "15%"></td><td width = "70%" style="text-align:center; background-color:white;border-color:black; border-width:2px;">
	 <div style="text-align:left">
	 <h4 style = "margin-left: 36px; font-size: 30pt; color:black; align:top;"> Amount </h4>
	 <div style="margin-left:32px; margin-right:32px">
      <ul class="collection with-header">
        <li class="collection-item"><div><b>Title</b><a href="#!" class="secondary-content" style="color:black">xxx Rs.</a></div></li>
		<li class="collection-item"><div><b>Title</b><a href="#!" class="secondary-content" style="color:black" >xxx Rs.</a></div></li>
        <li class="collection-item"><div><b>Title</b><a href="#!" class="secondary-content" style="color:black" ><b>xxx Rs.</b></a></div></li>
		
      </ul> </div></div>
	  <div style="text-align:center; margin-top:24px;">		
									<a class="waves-effect waves-light btn">Continue to Payment Gateway</a>
							</div>	  
          </td><td></td><td>  
	 </td><td width = "15%"></td>
	 </tr></table>
</body>
